<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="com.example.intent"
      version="0.0.1">
    <name>Intent</name>
    <description>Custom Intent Plugin</description>
    <license>MIT</license>
    <keywords>intent</keywords>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Intent" >
                <param name="android-package" value="com.example.intent"/>
            </feature>
        </config-file>

        <source-file src="src/android/Intent.java" target-dir="src/com/example/intent" />
    </platform>
</plugin>
